<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario App</title>
    <link rel="stylesheet" href="./vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="./image/favicon.png" />
</head>

<body class="dashboard">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center gap-2" href="/dashboard">
                <img src="./image/paginainicio.png" alt="Logo" width="90" height="80"
                    height="24" class="d-inline-block align-text-top">
                InventarioAPP
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/ventas">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/historial-ventas">Historial Ventas</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center gap-2">
                    <p class="fw-bold m-0" id="userLabel"></p>
                    <button type="button" class="btn btn-danger" id="btnSalir">Salir</button>
                </div>
            </div>
        </div>
    </nav>


    <main class="w-full mt-3  container d-flex flex-column gap-3">
        <h1>Bienvenido Inventario App</h1>
        <div class="row d-flex justify-content-between">

            <div class="card col-4">
                <div class="card-body d-flex gap-3">
                    <img src="./image/efectivo.png" alt="efectivo" width="50">
                    <div>
                        <h5 class="card-title">Ventas en Efectivo</h5>
                        <p class="card-text fw-normal" id="ventaEfectivo">Cantidad: <span class="fw-bold">0</span></p>
                    </div>
                </div>
            </div>
            <div class="card col-4">
                <div class="card-body d-flex gap-3">
                    <img src="./image/transferencia.png" alt="efectivo" width="50">
                    <div>
                        <h5 class="card-title">Ventas en Transferencia</h5>
                        <p class="card-text fw-normal" id="ventaTransferencia">Cantidad: <span class="fw-bold">0</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-4">
                <div class="card-body d-flex gap-3">
                    <img src="./image/credito.png" alt="efectivo" width="50">
                    <div>
                        <h5 class="card-title">Ventas en Credito</h5>
                        <p class="card-text fw-normal" id="ventaCredito">Cantidad: <span class="fw-bold">0</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col p-0">
                <h3>Sin productos en bodega!</h3>
                <ul class="list-group " id="listProductos"></ul>
            </div>
            <div class="col">
                <h3>Estadistica general!</h3>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Ventas</h5>
                        <p class="card-text fw-normal" id="totalVenta">Cantidad: <span class="fw-bold">0</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Producto</h5>
                        <p class="card-text fw-normal" id="totalProducto">Cantidad: <span class="fw-bold">0</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="./vendor/js/bootstrap.min.js"></script>
    <script src="./vendor/js/sweetalert2.all.min.js"></script>
    <script src="./script/utils/http.js"></script>
    <script src="./script/utils/servicio.js"></script>
    <script src="./script/detalleAuth.js"></script>
    <script src="./script/dashboard.js"></script>
</body>

</html>